<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Google Maps Stuff -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Allot">

        <!-- API Keys -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Allot.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.explore.ExploreActivity"
            android:exported="true" />
        <activity
            android:name=".view.explore.MapViewActivity"
            android:exported="false" />
        <activity
            android:name=".view.events.UserEventsActivity"
            android:exported="false" />
        <activity
            android:name=".view.event.CreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".view.event.EventCreatedActivity"
            android:exported="false" />
        <activity
            android:name=".view.organizer.EventQrCodeActivity"
            android:exported="false" />
        <activity
            android:name=".view.organizer.InviteCoOrganizerActivity"
            android:exported="false" />
        <activity
            android:name=".view.event.EventDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.event.EditEventActivity"
            android:exported="false" />
        <activity
            android:name=".view.lottery.RunLotteryActivity"
            android:exported="false" />
        <activity
            android:name=".view.event.OfferResponseActivity"
            android:exported="false" />
        <activity
            android:name=".view.organizer.EventEntrantsActivity"
            android:exported="false" />
        <activity
            android:name=".view.organizer.InviteEntrantActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.NameActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.EmailActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.PhoneActivity"
            android:exported="false" />
        <activity
            android:name=".view.events.NotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".view.organizer.ScanActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.admin.AdminActivity"
            android:exported="false" />
    </application>

</manifest>
